<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" name="oct15">
        <classes>
            <class name="com.thetestingacademy.oct15.testngexample.TestNG001">
                <methods>
                    <include name="test1"/>
<!--                    <include name="test2"/>-->
                </methods>
            </class>
        </classes>
    </test>
</suite>